---
import Layout from '../layouts/Layout.astro';
import config from '../lib/config';
---

<Layout title={config.site.pageTitle('Page Not Found')} description="" pageType="website">
  <article class="prose prose-stone pt-1">
    <h1>404 Page Not Found</h1>
    <p>The page you were seeking no longer exists.</p>
    <a href="/">Go to main page</a>
  </article>
</Layout>
