---
import type { GetStaticPathsOptions } from "astro";
import DigestList from "../components/DigestList.astro";
import { getAllDigestEntries } from "../components/digest";
import { getPageTitle, mainDescription } from "../components/pageTitle";
import Layout from "../layouts/Layout.astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  return paginate(await getAllDigestEntries(), { pageSize: 6 });
};

const { page } = Astro.props;
---

<Layout
  title={getPageTitle("Articles")}
  description={mainDescription}
  pageType="website"
>
  <div class="flex flex-col gap-y-8">
    <DigestList digests={page.data} />
    <div
      class="text-cyan-800 text-sm flex justify-between *:px-3 *:py-1 *:border *:rounded-full *:border-stone-300"
    >
      <a href={page.url.prev} class={page.url.prev ? "" : "invisible"}>Newer</a>
      <a href={page.url.next} class={page.url.next ? "" : "invisible"}>Older</a>
    </div>
  </div>
</Layout>
