---
interface Props {
  date: Date;
  tags: string[];
}

const { date, tags } = Astro.props;
---

<div class="flex w-full gap-x-4 justify-between text-stone-500 text-sm">
  <span>
    {date.toDateString()}
  </span>
  <ul class="flex flex-row gap-x-2 overflow-hidden">
    {
      tags.map((tag) => (
        <li>
          <a
            tabindex="0"
            href={"/tag/" + tag}
            class="focus:outline-0 focus:underline decoration-2 underline-offset-4
            transition-colors duration-300 hocus:text-cyan-700"
          >
            #{tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
