---
interface Props {
  date: Date;
  tags: string[];
}

const { date, tags } = Astro.props;
---

<div class="flex w-full gap-x-4 justify-between text-stone-500 text-sm">
  <span>
    {date.toDateString()}
  </span>
  <span>
    <ul class="flex flex-row gap-x-2 overflow-hidden">
      {
        tags.map((tag) => (
          <li class="transition-colors duration-300 hover:text-cyan-700">
            <a href={"/tag/" + tag}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </span>
</div>
