---
import Layout from "../../layouts/Layout.astro";
import { getPageTitle } from "../../components/pageTitle";
import { getTagStaticPaths } from "../../components/digest";
import DigestList from "../../components/DigestList.astro";

export const getStaticPaths = getTagStaticPaths;

const { digests, tag } = Astro.props;
---

<Layout
  title={getPageTitle(`Tag: ${tag}`)}
  description={`Explore articles related to ${tag}.`}
  pageType="website"
>
  <p class="pb-6 font-extralight text-xl">
    Articles tagged with <span class="text-cyan-800">#{tag}</span>:
  </p>
  <DigestList digests={digests} />
</Layout>
