---
import Layout from '../../layouts/Layout.astro';
import { getTagStaticPaths } from '../../lib/digest';
import DigestList from '../../components/DigestList.astro';
import config from '../../lib/config';

export const getStaticPaths = getTagStaticPaths;

const { digests, tag } = Astro.props;
---

<Layout
	title={config.site.pageTitle(`Tag: ${tag}`)}
	description={`Explore articles related to ${tag}.`}
	pageType="website"
>
	<p class="pb-6 text-xl">
		Articles tagged with <span class="text-cyan-700">#{tag}</span>:
	</p>
	<DigestList digests={digests} />
</Layout>
